
/* =========================
   ROOT & GLOBAL STYLE
========================= */
:root {
  --bg: #f3f3f3;
  --white: #ffffff;
  --line: #dddddd;
  --line-dark: #7a7a7a;
  --text-light: #a0a0a0;
  --text-dark: #202020;
  --green: #2fa84f;
  --green-hover: #259041;
  --shadow: 0 10px 28px rgba(0, 0, 0, 0.08);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* angka finance */
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";

  -webkit-tap-highlight-color: transparent;
}

/* FONT GLOBAL */
html, body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100%;
}

/* angka khusus */
.amount {
  font-variant-numeric: tabular-nums;
}

/* heading */
h1, h2, h3 {
  font-weight: 700;
}

/* BODY */
body {
  background: var(--bg);
  min-height: 100vh;
  overflow-x: hidden;
}

/* APP WRAPPER */
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* DESKTOP MODE */
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app {
    max-width: 430px;
    min-height: 100vh;
    background: var(--bg);
  }
}